// These are extra parameters specific to AliNe not handled by the RAIN pipeline

params {

    //   
    samtools_stats     = false  // activate samtools stats
    seqtk_sample_size  = 50000     // to change default AliNe sample size used to guess library type
    read_length        = ""     // Used by star to set the sjdbOverhang parameter but also by some other aligners
    relax              = ""     // 

    // Aligner extra parameters
    bbmap_options      = ''
    bowtie_options     = ''
    bowtie2_options    = ''
    bwaaln_options     = ''
    bwamem_options     = ''
    bwamem2_options    = ''
    bwasw_options      = ''
    graphmap2_options  = '' // owler option is possible
    hisat2_options     = ''
    kallisto_options   = ''
    kallisto_index_options = '' // e.g. to use --distinguish, --make-unique, etc...
    last_options       = ''
    last_index_options = ''
    minimap2_options   = '' 
    minimap2_index_options = '' //  -k, -w, -H and -I
    ngmlr_options      = ''
    novoalign_options  = ''
    novoalign_license  = '' // license. You can ask for one month free trial license at http://www.novocraft.com/products/novoalign/
    nucmer_options     = ''
    salmon_options     = ''
    salmon_index_options = ''
    star_options       = ''
    star_index_options = ''
    star_2pass         = false
    subread_options    = ''
    sublong_options    = ''

    // to store general information about pipeline execution
    pipeline_report          = "pipeline_report"
    monochrome_logs          = false
}
