manifest {
    name = 'RAIN'
    author = 'Jacques Dainat, Eduardo Ascarrunz'
    homePage = 'https://github.com/Juke34/RAIN'
    description = 'RNA Alterations Investigation using Nextflow'
    mainScript = 'rain.nf'
    nextflowVersion = '>=22.04.0'
    version = '0.1'
}

// default parameters
params {
    // to store general information about pipeline execution
    pipeline_report="pipeline_report"
    monochrome_logs = false
}

// Include a base config (2 forks of 1 CPU)
includeConfig "$baseDir/config/ressources/base.config"

profiles {

    itrop {
        executor {
            name = 'slurm'
        }
        process {
            scratch = '/scratch-ib'
            clusterOptions = "--constraint=infiniband"
        }
        singularity.enabled = true
        // singularity.envWhitelist = '' // Comma separated list of environment variable names to be included in the container environment.
        includeConfig "$baseDir/config/softwares.config"
        includeConfig "$baseDir/config/ressources/hpc.config"
        scratch = '/scratch-ib'
    }

    debug { process.beforeScript = 'env' }

    docker {
        docker.enabled = true
        includeConfig "$baseDir/config/softwares.config"
        docker.runOptions='-u "$( id -u ):$( id -g )"'
    }

    singularity {
        singularity.enabled = true
        sifPath = "${baseDir}/sif"
        includeConfig "$baseDir/config/softwares.config"
    }
    local {
        includeConfig "$baseDir/config/ressources/local.config"
    }
    test {
        params.aline_profiles = "${baseDir}/config/ressources/base_aline.config" 
        params.aligner        = "STAR" 
        params.reads          = "${baseDir}/data/chr21/chr21_small_R1.fastq.gz "
        params.genome         = "${baseDir}/data/chr21/chr21_small.fasta.gz"
        params.annotation     = "${baseDir}/data/chr21/chr21_small_filtered.gff3.gz"
        params.library_type   = "ISR" 
        params.read_type      = "short_single"
    }
    test2 {
        params.aline_profiles = "${baseDir}/config/ressources/base_aline.config" 
        params.aligner        = "STAR" 
        params.reads          = "${baseDir}/data/chr21/"
        params.genome         = "${baseDir}/data/chr21/chr21_small.fasta.gz" 
        params.annotation     = "${baseDir}/data/chr21/chr21_small_filtered.gff3.gz"
        params.library_type   = "ISR" 
        params.read_type      = "short_paired"
    }
}

resume = true

timeline {
    enabled = true
    file = "${params.pipeline_report}/execution_timeline_${new Date().format('yyyyMMddHHmmss')}.html"
}

report {
    enabled = true
    file = "${params.pipeline_report}/execution_report_${new Date().format('yyyyMMddHHmmss')}.html"
}

trace {
    enabled = true
    file = "${params.pipeline_report}/execution_trace_${new Date().format('yyyyMMddHHmmss')}.txt"
}

dag {
    enabled = true
    file = "${params.pipeline_report}/pipeline_dag_${new Date().format('yyyyMMddHHmmss')}.svg"
}
