process {
    cpus = 1
    time = '4h'

    withLabel: 'agat' {
        cpus = 6
        time = '6h'
    }
    withLabel: 'aline' {
        cpus = 64
        memory = '128GB'
        time = '2d'
    }
    withLabel: 'fastqc' {
        cpus = 8
        time = '6h'
    }
    withLabel: 'fastp' {
        cpus = 16
        time = '2d'
    }
    withLabel: 'jacusa2' {
        cpus = 4
        time = '4h'
    }
    withLabel: 'pigz' {
        cpus = 8
        time = '4h'
    }
    withLabel: 'pluviometer' {
        cpus = 4
        time = '6h'
        memory = '48GB'
        errorStrategy = 'terminate'
    }
    withLabel: 'reditools3' {
        cpus = 6
        time = '1d'
    }
    withLabel: 'samtools' {
        cpus = 16
        time = '4h'
    }
}
