process {
    cpus = 1
    time = '1h'
    maxForks = 8
    shell = ['/bin/bash', '-euo', 'pipefail']
    stageOutMode = 'rsync'

    withLabel: 'fastqc' {
        cpus = 2
        time = '6h'
    }
    withName: 'fastp' {
        cpus = 2
        time = '1d'
    }
    withLabel: 'jacusa2' {
        cpus = 4
        memory = "4G"
        time = '1d'
    }
    withLabel: 'agat' {
        cpus = 1
        memory = "2G"
        time = '1d'
    }
    withLabel: 'hisat2_index' {
        cpus = 4
        time = '1h'
    }
    withLabel: 'hisat2' {
        cpus = 6
        time = '1d'
    }
    withLabel: 'samtools' {
        cpus = 2
        time = '1d'
    }
    withLabel: 'gatk' {
        cpus = 2
        time = '1d'
    }
    withLabel: 'bamutil' {
        cpus = 1
        time = '1d'
        memory="12G"
    }    
    withLabel: 'reditools3' {
        cpus = 2
        time = '1d'
        memory="4G"
    }    
}
