name: CI
on: 
  push:
    branches:
      - "main"
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:

  test_rain:

    # Avoid running twice: skip push events if there's an open PR for this branch
    if: github.event_name != 'push' || github.event.pull_request == null
    
    runs-on: ubuntu-24.04
    
    services:
      docker:
        image: docker:dind
        options: --privileged --shm-size=2g
        volumes:
          - /var/run/docker.sock:/var/run/docker.sock:ro
          
    steps:

      - name: Get the code
        uses: actions/checkout@v4
        
      # Install/cache OpenJDK
      - name: Cache OpenJDK
        id: cache-openjdk
        uses: actions/cache@v4
        with:
          path: /usr/lib/jvm/java-11-openjdk-amd64
          key: ${{ runner.os }}-openjdk-11
          restore-keys: |
            ${{ runner.os }}-openjdk-11
            
      - name: Install OpenJDK
        if: steps.cache-openjdk.outputs.cache-hit != 'true'
        run: sudo apt-get update && sudo apt-get install -y openjdk-11-jdk

      # Install/cache Nextflow
      - name: Cache Nextflow
        id: cache-nextflow
        uses: actions/cache@v4
        with:
          path: /usr/local/bin/nextflow
          key: ${{ runner.os }}-nextflow-24.10.6
          restore-keys: |
            ${{ runner.os }}-nextflow

      - name: Install Nextflow
        if: steps.cache-nextflow.outputs.cache-hit != 'true'
        run: export NXF_VER=24.10.6 && curl -s https://get.nextflow.io | bash && sudo mv nextflow /usr/local/bin && sudo chmod +x /usr/local/bin/nextflow

      # Cache Docker images
      - name: Cache Docker images
        id: cache-dockerfiles
        uses: actions/cache@v4
        with:
          path: docker-images.tar
          key: ${{ runner.os }}-dockerfiles-${{ hashFiles('docker/**/*') }}
          restore-keys: |
            ${{ runner.os }}-dockerfiles-

      - name: Load cached Docker images
        if: steps.cache-dockerfiles.outputs.cache-hit == 'true'
        run: |
          echo "Loading cached Docker images..."
          docker load -i docker-images.tar

      - name: Build Docker images
        if: steps.cache-dockerfiles.outputs.cache-hit != 'true'
        run: bash build_containers.sh --docker --github_action

      # Run test(s)
      - name: test short single
        run: nextflow run rain.nf -profile docker,test

      - name: test short paired
        run: nextflow run rain.nf -profile docker,test2


